# Recommending Colleges

Sally visits Rice University in Houston, TX and falls in love with the school. What other schools should she apply to? In this case study, we will use the [College Scorecard data](https://collegescorecard.ed.gov/) to make recommendations

## Question 0

Read in the data from  https://datasci112.stanford.edu/data/college_attributes.csv, and find Rice in this data set. What row is it?

In [14]:
import pandas as pd
df = pd.read_csv('data/college_attributes.csv')
df

,Institution,City,State,AdmissionRate,Undergraduates,CarnegieClassification,Ownership,PCIP01,PCIP03,PCIP04,...,PCIP44,PCIP45,PCIP46,PCIP47,PCIP48,PCIP49,PCIP50,PCIP51,PCIP52,PCIP54
0,Alabama A & M University,Normal,AL,0.7160,5098.0,Master's Colleges & Universities: Larger Programs,Public,0.0445,0.0071,0.0053,...,0.0409,0.0249,0.0,0.0,0.0,0.0,0.0231,0.0000,0.1637,0.0000
1,University of Alabama at Birmingham,Birmingham,AL,0.8854,13284.0,Doctoral Universities: Very High Research Acti...,Public,0.0000,0.0000,0.0000,...,0.0195,0.0239,0.0,0.0,0.0,0.0,0.0249,0.2088,0.2159,0.0141
2,University of Alabama in Huntsville,Huntsville,AL,0.7367,7358.0,Doctoral Universities: Very High Research Acti...,Public,0.0000,0.0000,0.0000,...,0.0000,0.0127,0.0,0.0,0.0,0.0,0.0407,0.1341,0.1930,0.0073
3,Alabama State University,Montgomery,AL,0.9799,3495.0,Doctoral/Professional Universities,Public,0.0000,0.0000,0.0000,...,0.0648,0.0196,0.0,0.0,0.0,0.0,0.0511,0.0904,0.1513,0.0059
4,The University of Alabama,Tuscaloosa,AL,0.7890,30725.0,Doctoral Universities: Very High Research Acti...,Public,0.0000,0.0061,0.0000,...,0.0072,0.0661,0.0,0.0,0.0,0.0,0.0234,0.1077,0.2916,0.0096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1952,Florida Academy of Nursing,Miramar,FL,0.3088,239.0,Not applicable,Private for-profit,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,1.0000,0.0000,0.0000
1953,Herzing University-Tampa,Tampa,FL,0.9630,68.0,Not applicable,Private nonprofit,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000
1954,Abilene Christian University-Undergraduate Online,Addison,TX,1.0000,415.0,Not applicable,Private nonprofit,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000
1955,Great Northern University,Spokane,WA,1.0000,25.0,Not applicable,Private nonprofit,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000,0.1250,0.0000
1956,Arizona College of Nursing-Salt Lake City,Murray,UT,1.0000,186.0,Not applicable,Private for-profit,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000

In [15]:
rice_df = df[df['Institution'].str.contains('Rice University', na=False)]
rice_df

,Institution,City,State,AdmissionRate,Undergraduates,CarnegieClassification,Ownership,PCIP01,PCIP03,PCIP04,...,PCIP44,PCIP45,PCIP46,PCIP47,PCIP48,PCIP49,PCIP50,PCIP51,PCIP52,PCIP54
1432,Rice University,Houston,TX,0.0948,4240.0,Doctoral Universities: Very High Research Acti...,Private nonprofit,0.0,0.0081,0.0332,...,0.0161,0.1238,0.0,0.0,0.0,0.0,0.0386,0.0117,0.0018,0.0224

## Question 1

Based on only the admission rate and the number of undergraduates, what are the 5 schools that are most similar to Rice?

In [16]:
features = ['AdmissionRate', 'Undergraduates']
df[features]

      AdmissionRate  Undergraduates
0            0.7160          5098.0
1            0.8854         13284.0
2            0.7367          7358.0
3            0.9799          3495.0
4            0.7890         30725.0
...             ...             ...
1952         0.3088           239.0
1953         0.9630            68.0
1954         1.0000           415.0
1955         1.0000            25.0
1956         1.0000           186.0

[1957 rows x 2 columns]

In [17]:
# get the standard deviation of each column
df_standardized = ((df[features] - df[features].mean(axis='rows')) / df[features].std(axis='rows'))
df_standardized

      AdmissionRate  Undergraduates
0         -0.071116        0.121332
1          0.695587        1.175104
2          0.022572        0.412258
3          1.123294       -0.085020
4          0.259282        3.420258
...             ...             ...
1952      -1.914100       -0.504160
1953       1.046804       -0.526173
1954       1.214266       -0.481504
1955       1.214266       -0.531708
1956       1.214266       -0.510983

[1957 rows x 2 columns]

In [18]:
# finding the most simillar institutions to Rice University
import numpy as np

diffs = df_standardized - df_standardized[features].loc[1432]
dists = np.sqrt((diffs ** 2).sum(axis='columns')).sort_values()
dists

# Print the top 5 most similar institutions (the first one is the Rice University itself)
df.loc[dists.head(6).index]

,Institution,City,State,AdmissionRate,Undergraduates,CarnegieClassification,Ownership,PCIP01,PCIP03,PCIP04,...,PCIP44,PCIP45,PCIP46,PCIP47,PCIP48,PCIP49,PCIP50,PCIP51,PCIP52,PCIP54
1432,Rice University,Houston,TX,0.0948,4240.0,Doctoral Universities: Very High Research Acti...,Private nonprofit,0.0,0.0081,0.0332,...,0.0161,0.1238,0.0,0.0,0.0,0.0,0.0386,0.0117,0.0018,0.0224
548,United States Naval Academy,Annapolis,MD,0.0845,4528.0,Baccalaureate Colleges: Arts & Sciences Focus,Public,0.0,0.0000,0.0000,...,0.0000,0.2739,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0464
993,United States Military Academy,West Point,NY,0.1066,4594.0,Baccalaureate Colleges: Arts & Sciences Focus,Public,0.0,0.0216,0.0000,...,0.0000,0.2029,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0549,0.0647
172,United States Air Force Academy,USAF Academy,CO,0.1243,4181.0,Baccalaureate Colleges: Diverse Fields,Public,0.0,0.0000,0.0000,...,0.0000,0.1505,0.0,0.0,0.0,0.0,0.0000,0.0000,0.1689,0.0291
791,Dartmouth College,Hanover,NH,0.0617,4533.0,Doctoral Universities: Very High Research Acti...,Private nonprofit,0.0,0.0313,0.0000,...,0.0000,0.3304,0.0,0.0,0.0,0.0,0.0383,0.0000,0.0000,0.0443
850,Barnard College,New York,NY,0.1147,3007.0,Baccalaureate Colleges: Arts & Sciences Focus,Private nonprofit,0.0,0.0287,0.0101,...,0.0000,0.2939,0.0,0.0,0.0,0.0,0.0946,0.0000,0.0000,0.0726

## Question 2

You might be surprised at some of the schools that were found to be "simillar" to Rice just based on admission rate and undergraduate size. Clearly, we need to take some categorical variables into account.

Before we do the full analysis, let's first create a dummy encoding of the two categorical variables:
- the [Carnegie classification](https://en.wikipedia.org/wiki/Carnegie_Classification_of_Institutions_of_Higher_Education)
- the ownership (public, private, etc.)

Calculate the sum over the rows (i.e., the sum of each column). What does this represent?

In [19]:
# do dummy encoding 
pd.get_dummies(df[['CarnegieClassification', 'Ownership']], dtype=int)

,CarnegieClassification_Associate's Colleges: High Career & Technical-High Nontraditional,CarnegieClassification_Associate's Colleges: High Career & Technical-High Traditional,CarnegieClassification_Associate's Colleges: High Career & Technical-Mixed Traditional/Nontraditional,CarnegieClassification_Associate's Colleges: High Transfer-High Nontraditional,CarnegieClassification_Associate's Colleges: High Transfer-High Traditional,CarnegieClassification_Associate's Colleges: High Transfer-Mixed Traditional/Nontraditional,CarnegieClassification_Baccalaureate Colleges: Arts & Sciences Focus,CarnegieClassification_Baccalaureate Colleges: Diverse Fields,CarnegieClassification_Baccalaureate/Associate's Colleges: Associate's Dominant,CarnegieClassification_Baccalaureate/Associate's Colleges: Mixed Baccalaureate/Associate's,...,CarnegieClassification_Special Focus Four-Year: Other Special Focus Institutions,CarnegieClassification_Special Focus Four-Year: Research Institution,CarnegieClassification_Special Focus Two-Year: Arts & Design,CarnegieClassification_Special Focus Two-Year: Health Professions,CarnegieClassification_Special Focus Two-Year: Other Fields,CarnegieClassification_Special Focus Two-Year: Technical Professions,CarnegieClassification_Tribal Colleges,Ownership_Private for-profit,Ownership_Private nonprofit,Ownership_Public
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1952,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1954,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1955,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1956,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [20]:
# Calculate the sum over the dummy variables rows
pd.get_dummies(df[['CarnegieClassification', 'Ownership']], dtype=int).sum(axis=1)

0       2
1       2
2       2
3       2
4       2
       ..
1952    2
1953    2
1954    2
1955    2
1956    2
Length: 1957, dtype: int64

## Question 3

Now let's do the full analysis.

Considering on the admission rate, the number of undergraduates, the Carnegie classification of the type of school, and the ownership (public, private, etc.), what are the 5 schools that are most similar to Rice?

In [21]:
# get the admission rate, the number of undergraduates, dummy variables for Carnegie Classification and Ownership
df_for_full_analysis = df[['AdmissionRate', 'Undergraduates']].join(pd.get_dummies(df[['CarnegieClassification', 'Ownership']], dtype=int), rsuffix='_dummy')
# get standardized values
df_for_full_analysis_standardized = (df_for_full_analysis - df_for_full_analysis.mean(axis='rows')) / df_for_full_analysis.std(axis='rows')
df_for_full_analysis_standardized

,AdmissionRate,Undergraduates,CarnegieClassification_Associate's Colleges: High Career & Technical-High Nontraditional,CarnegieClassification_Associate's Colleges: High Career & Technical-High Traditional,CarnegieClassification_Associate's Colleges: High Career & Technical-Mixed Traditional/Nontraditional,CarnegieClassification_Associate's Colleges: High Transfer-High Nontraditional,CarnegieClassification_Associate's Colleges: High Transfer-High Traditional,CarnegieClassification_Associate's Colleges: High Transfer-Mixed Traditional/Nontraditional,CarnegieClassification_Baccalaureate Colleges: Arts & Sciences Focus,CarnegieClassification_Baccalaureate Colleges: Diverse Fields,...,CarnegieClassification_Special Focus Four-Year: Other Special Focus Institutions,CarnegieClassification_Special Focus Four-Year: Research Institution,CarnegieClassification_Special Focus Two-Year: Arts & Design,CarnegieClassification_Special Focus Two-Year: Health Professions,CarnegieClassification_Special Focus Two-Year: Other Fields,CarnegieClassification_Special Focus Two-Year: Technical Professions,CarnegieClassification_Tribal Colleges,Ownership_Private for-profit,Ownership_Private nonprofit,Ownership_Public
0,-0.071116,0.121332,-0.031976,-0.078527,-0.050598,-0.045245,-0.059899,-0.031976,-0.346619,-0.363044,...,-0.064051,-0.022605,-0.067954,-0.15162,-0.087864,-0.055442,-0.031976,-0.312311,-1.239950,1.508938
1,0.695587,1.175104,-0.031976,-0.078527,-0.050598,-0.045245,-0.059899,-0.031976,-0.346619,-0.363044,...,-0.064051,-0.022605,-0.067954,-0.15162,-0.087864,-0.055442,-0.031976,-0.312311,-1.239950,1.508938
2,0.022572,0.412258,-0.031976,-0.078527,-0.050598,-0.045245,-0.059899,-0.031976,-0.346619,-0.363044,...,-0.064051,-0.022605,-0.067954,-0.15162,-0.087864,-0.055442,-0.031976,-0.312311,-1.239950,1.508938
3,1.123294,-0.085020,-0.031976,-0.078527,-0.050598,-0.045245,-0.059899,-0.031976,-0.346619,-0.363044,...,-0.064051,-0.022605,-0.067954,-0.15162,-0.087864,-0.055442,-0.031976,-0.312311,-1.239950,1.508938
4,0.259282,3.420258,-0.031976,-0.078527,-0.050598,-0.045245,-0.059899,-0.031976,-0.346619,-0.363044,...,-0.064051,-0.022605,-0.067954,-0.15162,-0.087864,-0.055442,-0.031976,-0.312311,-1.239950,1.508938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1952,-1.914100,-0.504160,-0.031976,-0.078527,-0.050598,-0.045245,-0.059899,-0.031976,-0.346619,-0.363044,...,-0.064051,-0.022605,-0.067954,-0.15162,-0.087864,-0.055442,-0.031976,3.200295,-1.239950,-0.662379
1953,1.046804,-0.526173,-0.031976,-0.078527,-0.050598,-0.045245,-0.059899,-0.031976,-0.346619,-0.363044,...,-0.064051,-0.022605,-0.067954,-0.15162,-0.087864,-0.055442,-0.031976,-0.312311,0.806072,-0.662379
1954,1.214266,-0.481504,-0.031976,-0.078527,-0.050598,-0.045245,-0.059899,-0.031976,-0.346619,-0.363044,...,-0.064051,-0.022605,-0.067954,-0.15162,-0.087864,-0.055442,-0.031976,-0.312311,0.806072,-0.662379
1955,1.214266,-0.531708,-0.031976,-0.078527,-0.050598,-0.045245,-0.059899,-0.031976,-0.346619,-0.363044,...,-0.064051,-0.022605,-0.067954,-0.15162,-0.087864,-0.055442,-0.031976,-0.312311,0.806072,-0.662379
1956,1.214266,-0.510983,-0.031976,-0.078527,-0.050598,-0.045245,-0.059899,-0.031976,-0.346619,-0.363044,...,-0.064051,-0.022605,-0.067954,-0.15162,-0.087864,-0.055442,-0.031976,3.200295,-1.239950,-0.662379

In [27]:
# find the most similar institutions to Rice University (1432 is the index of Rice University in the original DataFrame)
diffs_for_full_analysis = df_for_full_analysis_standardized - df_for_full_analysis_standardized.loc[1432]
dists_for_full_analysis = np.sqrt((diffs_for_full_analysis ** 2).sum(axis='columns')).sort_values()
dists_for_full_analysis

1432     0.000000
791      0.154485
534      0.210976
594      0.248151
819      0.264044
          ...
447     31.892886
835     31.929819
1604    31.930228
1255    31.938831
679     44.441433
Length: 1957, dtype: float64

In [28]:
# Print the top 5 most similar institutions (the first one is the Rice University itself)
df.loc[dists_for_full_analysis.head(6).index]

,Institution,City,State,AdmissionRate,Undergraduates,CarnegieClassification,Ownership,PCIP01,PCIP03,PCIP04,...,PCIP44,PCIP45,PCIP46,PCIP47,PCIP48,PCIP49,PCIP50,PCIP51,PCIP52,PCIP54
1432,Rice University,Houston,TX,0.0948,4240.0,Doctoral Universities: Very High Research Acti...,Private nonprofit,0.0,0.0081,0.0332,...,0.0161,0.1238,0.0,0.0,0.0,0.0,0.0386,0.0117,0.0018,0.0224
791,Dartmouth College,Hanover,NH,0.0617,4533.0,Doctoral Universities: Very High Research Acti...,Private nonprofit,0.0,0.0313,0.0000,...,0.0000,0.3304,0.0,0.0,0.0,0.0,0.0383,0.0000,0.0000,0.0443
534,Johns Hopkins University,Baltimore,MD,0.0752,5727.0,Doctoral Universities: Very High Research Acti...,Private nonprofit,0.0,0.0098,0.0000,...,0.0000,0.1453,0.0,0.0,0.0,0.0,0.0426,0.0740,0.0000,0.0091
594,Massachusetts Institute of Technology,Cambridge,MA,0.0411,4629.0,Doctoral Universities: Very High Research Acti...,Private nonprofit,0.0,0.0000,0.0127,...,0.0000,0.0399,0.0,0.0,0.0,0.0,0.0010,0.0000,0.0214,0.0000
819,Princeton University,Princeton,NJ,0.0438,5236.0,Doctoral Universities: Very High Research Acti...,Private nonprofit,0.0,0.0000,0.0051,...,0.1045,0.1988,0.0,0.0,0.0,0.0,0.0170,0.0000,0.0000,0.0459
613,Tufts University,Medford,MA,0.1143,6628.0,Doctoral Universities: Very High Research Acti...,Private nonprofit,0.0,0.0065,0.0058,...,0.0000,0.2663,0.0,0.0,0.0,0.0,0.0521,0.0369,0.0000,0.0224

## Question 4

The columns whose name begin with "PCIP" contain the proportions of students at each school studying various fields (e.g., Engineering, Psychology). Each field is two-digit code called the [CIP code](https://nces.ed.gov/ipeds/cipcode/browse.aspx?y=55).

What schools are most similar to Rice, if we only consider the proportions of students studying various fields?

In [40]:
# create new dataframe with the CIP code columns
df_cip = df.filter(like='PCIP')
df_cip

,PCIP01,PCIP03,PCIP04,PCIP05,PCIP09,PCIP10,PCIP11,PCIP12,PCIP13,PCIP14,...,PCIP44,PCIP45,PCIP46,PCIP47,PCIP48,PCIP49,PCIP50,PCIP51,PCIP52,PCIP54
0,0.0445,0.0071,0.0053,0.0000,0.0000,0.0285,0.0658,0.0,0.0391,0.1210,...,0.0409,0.0249,0.0,0.0,0.0,0.0,0.0231,0.0000,0.1637,0.0000
1,0.0000,0.0000,0.0000,0.0020,0.0333,0.0000,0.0229,0.0,0.0667,0.0559,...,0.0195,0.0239,0.0,0.0,0.0,0.0,0.0249,0.2088,0.2159,0.0141
2,0.0000,0.0000,0.0000,0.0000,0.0140,0.0000,0.0692,0.0,0.0218,0.3028,...,0.0000,0.0127,0.0,0.0,0.0,0.0,0.0407,0.1341,0.1930,0.0073
3,0.0000,0.0000,0.0000,0.0000,0.0923,0.0000,0.0530,0.0,0.0589,0.0138,...,0.0648,0.0196,0.0,0.0,0.0,0.0,0.0511,0.0904,0.1513,0.0059
4,0.0000,0.0061,0.0000,0.0019,0.0877,0.0000,0.0148,0.0,0.0262,0.1198,...,0.0072,0.0661,0.0,0.0,0.0,0.0,0.0234,0.1077,0.2916,0.0096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1952,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,1.0000,0.0000,0.0000
1953,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000
1954,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000
1955,0.0000,0.0000,0.0000,0.0000,0.2500,0.0000,0.0000,0.0,0.2500,0.0000,...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000,0.1250,0.0000
1956,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000

In [41]:
# get the sum of the CIP code columns
df_cip.sum(axis=1)

0       0.9999
1       0.9998
2       1.0001
3       0.9998
4       0.9999
         ...
1952    1.0000
1953    0.0000
1954    0.0000
1955    1.0000
1956    0.0000
Length: 1957, dtype: float64

In [42]:
# find the most similar institutions to Rice University based on CIP codes
# we don't standardize the CIP codes, as they are already on the same scale
diffs_cip = df_cip - df_cip.loc[1432]
dists_cip = np.sqrt((diffs_cip ** 2).sum(axis='columns')).sort_values()
dists_cip

1432    0.000000
650     0.122549
77      0.145487
1017    0.157996
819     0.164799
          ...
473     1.046988
1638    1.046988
1540    1.046988
13      1.046988
1938    1.046988
Length: 1957, dtype: float64

In [43]:
# Print the top 5 most similar institutions based on CIP codes
df.loc[dists_cip.head(6).index]

,Institution,City,State,AdmissionRate,Undergraduates,CarnegieClassification,Ownership,PCIP01,PCIP03,PCIP04,...,PCIP44,PCIP45,PCIP46,PCIP47,PCIP48,PCIP49,PCIP50,PCIP51,PCIP52,PCIP54
1432,Rice University,Houston,TX,0.0948,4240.0,Doctoral Universities: Very High Research Acti...,Private nonprofit,0.0,0.0081,0.0332,...,0.0161,0.1238,0.0,0.0,0.0,0.0,0.0386,0.0117,0.0018,0.0224
650,University of Michigan-Ann Arbor,Ann Arbor,MI,0.2015,32063.0,Doctoral Universities: Very High Research Acti...,Public,0.0,0.0145,0.0071,...,0.0100,0.1119,0.0,0.0,0.0,0.0,0.0486,0.0385,0.0790,0.0133
77,University of California-Berkeley,Berkeley,CA,0.1444,31811.0,Doctoral Universities: Very High Research Acti...,Public,0.0,0.0488,0.0177,...,0.0083,0.1913,0.0,0.0,0.0,0.0,0.0223,0.0223,0.0420,0.0121
1017,Duke University,Durham,NC,0.0589,6815.0,Doctoral Universities: Very High Research Acti...,Private nonprofit,0.0,0.0146,0.0000,...,0.0976,0.1640,0.0,0.0,0.0,0.0,0.0102,0.0798,0.0000,0.0140
819,Princeton University,Princeton,NJ,0.0438,5236.0,Doctoral Universities: Very High Research Acti...,Private nonprofit,0.0,0.0000,0.0051,...,0.1045,0.1988,0.0,0.0,0.0,0.0,0.0170,0.0000,0.0000,0.0459
1535,University of Washington-Seattle Campus,Seattle,WA,0.5348,31367.0,Doctoral Universities: Very High Research Acti...,Public,0.0,0.0206,0.0193,...,0.0049,0.1214,0.0,0.0,0.0,0.0,0.0326,0.0679,0.0768,0.0162